@charset "utf-8";
/*KD here*/

main {
    text-align: center;
    font-family: sans-serif;
}

body {
    width: ;
    margin: 0 auto;
}

.nav ul{
    padding: 0;
    margin: 0;
}

.nav {
    background-color: black;
    position:sticky;
    top: 0;
    font: 20px;
    color: white;
    text-align: right;
    max-height: 70px;
}

.nav li {
    display: inline-block;
    padding: 0;
    margin: 14px;
    font-weight: bold;
}

.fullBannerHomePage, h1 h2{
    margin-bottom: 0;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
    margin-left: -25px;
}

a:hover {
    text-decoration: none;
    color: #00dd99;
}

a {
    color: white;
    text-decoration: none;  
}

button {
    background-color: #00cc77;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #333;
    margin: 0 auto;
    cursor: pointer;
}

button:hover {
    background-color: #00dd99;
    transform: scale(1.1);
    transition-duration: .4s;
}

.noCC {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    color: lightslategray;
    padding: 0px 15px;
    margin: 0;
}

.testimonials { 
    background-color: #f2f2f2;
    margin: 0 auto;
    color: 	 #333333;
    text-align: center;
    padding: 05px;
    padding-bottom: 0px;
    overflow: auto;
    min-height: 500px;
}
.testimonial1, .testimonial2, .testimonial3 {
    min-height: 400px;
    padding: 2%;
}
@media (min-width: 700px) {
   .testimonial1, .testimonial2, .testimonial3 {
        width: 46%;
        min-height: 400px;
        float: left;
    } 
}
@media (min-width: 980px) {
   .testimonial1, .testimonial2, .testimonial3 {
        width: 29%;
        min-height: 400px;
    } 
}
   
.leftFooter {
    width:  62%;
    float: left;
    padding: 2%
}

.rightFooter {
    width: 30%;
    float: right;
    padding: 2%;
    margin: 0 auto;
}

footer a, .cookiePolicyPage a, .privacyPolicyPage a, .termsOfUse a{
    color: blue;
}

footer {
    overflow: auto;
}

footer img{
    max-width: 50px;
    margin: 3px;
}

.appInfo {
    overflow: auto;
    text-align: left;
}

.appInfo:nth-child(even){
    background: #f2f2f2;
}

.textAppInfo {
    padding: 90px 30px 10px 10px;
}

.lastPitch{
    padding: 20px;
}

.lastPitch ul {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.lastPitch .Button15DayTrial ul{
    text-align: center;
}

.cookiePolicyPage, .privacyPolicyPage, .termsOfUse{
    text-align: left;
}

/**********Thank You Page********/

.thankYouBody{
    background-color: #1C1F63;
    text-align: center;
    color: dimgrey;
    font-size: 28px;
   
}

.thankYou{
    font-size: 80px;
    font-family: monospace;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #00cc77;
}

.thankYouFooter {
    color: white;
    font-size: 18px;
}

.thankYouContainer{
    background-color: white;
    overflow: auto;
    color: dodgerblue;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px; 
}

.thankYouPic {
    width: 65%;
    height: auto;
}

.thankYouVideo {
    margin: 5px;
}

.logInText {
    font-size: 18px;
    float: left;
    width: 46%;
    padding: 2%;
    overflow: auto;
}

.LogInNow{
    float: right;
    width: 46%;
    padding: 2%;
}

.logInNowButton{
    background-color: #62D8BD;
    color: white;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #333;
}


.logInButtonDiv{
    overflow: auto;
    background-color: #F0F0F0;
    max-width: 750px;
    margin: 0 auto;
    max-height: 300px;
}

.LogInNowBottom {
    clear: both;
}

/******** Lead Page CSS ********/

.salesPageBody {
    width: 100%;
}

.wordFromOwner{
    background-color:#336699;
}

.salesPageBody, p, li {
    color: black;
}

.salesPageBody iframe {
    width: 90%;
    border: 5px solid black;
}

.wordFromOwner img {
    border-radius: 50%;
    margin-top: 30px;
}

.wordFromOwner p {
    color: aliceblue;
}

.wordFromOwner h2 {
    font-size: 36px;
    color: aliceblue;
}

.topLeadPageContainer{
    width: 90%;
    color: dodgerblue;
    margin: 0 auto;
    font-size: 18px;
}

.topLeadPageContainer h1{
    font-size: 6.5vw;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.topLeadPageContainer h2, p {
    margin-bottom: 5px;
}

.bigButton15DayTrial { /* Sales Page Button */
    font-size: 5vw;
    font-size-adjust: auto;
    border-radius: 15vw;
    display: inline-block;
    max-width: 500px;
}

.leadPagePic {
    height: auto;
    padding: 0;
    margin-top: -30px;
    margin-bottom: -60px;
}

@media (min-width: 640px) {
    .bigButton15DayTrial { /* Sales Page Button */
        font-size: 32px;
    }
}
@media (min-width: 903px) {
    .leadPagePic {
        height: calc(120vh - 328px);
        width: auto;
    }
}
@media (min-width: 817px) {
    .leadPagePic {
        margin-top: -80px;
        margin-bottom: -80px;
    }
}

@media (max-width: 1000px){
    .topLeadPageContainer h1 {
        font-size: 7.3vw;
    } 
}

.salesPageFooter {
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

/*****#### Price Chart CSS ####*****/

.wrapper, li{
    text-align: left;
}

.bigWrapper{
    background-color: #f2f2f2;
    overflow: auto;
}
        
.wrapper {
    font-family: sans-serif;
    text-align: center;
    color: #62D8BD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 25px auto;
    padding: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
        
        
.plan3Clients, .plan10Clients, .plan15Clients, .plan20Clients, .planUnlimited {
    background-color: #FFFAF0;
    border-radius: 15px;
    min-width: 70px;
    overflow: auto;
}
        
.plan3Clients {
    grid-area: plan3Clients;
    min-height: 100px;
    max-width: 230px;
    grid-column: 1;
}
        
.plan10Clients {
    grid-area: plan10Clients;
    min-height: 500px;
    max-width: 230px;
    grid-column: 2;
}
        
.plan15Clients {
    grid-area: plan15Clients;
    min-height: 500px;
    max-width: 230px;
    grid-column: 3;
}
        
.plan20Clients {
    grid-area: plan20Clients;
    min-height: 500px;
    max-width: 230px;
    grid-column: 4;
}
        
.planUnlimited {
    grid-area: planUnlimited;
    min-height: 400px;
    max-width: 230px;
    grid-column: 5;
}
        
div[class^="plan"]{
    padding: 5px;
    margin: 5px;
}
        
.priceDets {
    background-color: #f2f2f2;
    width: 0 auto;
    min-height: 50%;
    border-radius: 10px;
    padding: 3px;
    padding-top: 1px;
    margin-top: 1px;
}
        
.wrapper li {
    list-style: none;
    color: 	 #333333;
}
        
.plan3Clients, .priceDets {
    min-height: 30%;
    overflow: auto;
}
        
:hover[class^="plan"]{
    background-color: white;
    transform: scale(1.1);
    transition-duration: .4s;
}

.subButton:hover {
    background-color: aquamarine;
    transform: scale(1.1)
}
        
.subButton {
    background-color: #62D8BD;
    color: white;
    box-shadow: none;
    font-size: 18px;
    width: 90%;
    border-radius: 0;
}

.details {
    font-size: 14px;
    margin-left: -15px;
}

.annualMonthly {
    font-size: 12px;
    font-style: italic;
}

.priceDets {
    font-size: 28px;
}

.priceDets h2 {
    font-size: 30px;
}

/* Tutorial Page */

.tutorialVideo {
    border: 5px;
    padding: 5px;
    background-color: #62D8BD;
    width: 100%;
}

#videoWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-color: aliceblue;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    overflow: auto;
    
}

@media (min-width:768px){
        #videoWrapper{
            grid-template-columns: 1fr 1fr;
        }
        .genre-btn{
            width: 185px;
            height: 235px;
        }
    }

























